/*--------------Game 3: Dot Chase--------------*/
/* Tamika Dantes */
html.dot-chase{
  font-family: pixelated;
  height: auto;
}

body {  
  width: auto;
  background-image: url("images/dot_chase/grass.jpeg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#gameBoard {
  display: flex;
  border: 2px solid gold;
  width: 80%;
  height: 80vh;
  margin-left:10%;
}

#movingElement{
  background-color: gold;
  border: 2px solid gold;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
}

#timerUi{
  display: flex;
  justify-content: center;
}

/* dealing with the screen cover and it's elements */ 
#screenCover {
  background: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
  width: 100%;
  position: absolute;
}

#dotChase-start-screen{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dotChase-instructions{
  background: goldenrod;
  border: 2px solid white;
  color: white;
  font-size: 24px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.btn{
  font-size: 150% !important;
  background-color: goldenrod !important;
  font-family: pixelated;
}

.update-message{
  font-family: pixelated;
  color: white;
  text-align: center;
}

.cursor{
  background-image: url("images/dot_chase/snowball.png");
  width: 250px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

@font-face{
  font-family: pixelated;
  src: url("fonts/slkscre.ttf");
}